main.How {
  background-image: url("../../images/back_profe.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center left;
  overflow: hidden;
  @include respond-to(medium) {
    background-position: center center;
  }
}

#Coach {
  position: fixed;
  bottom: 0;
  width: 80vw;
  left: calc(50% - 40vw);
}
.How-title{
  position: fixed;
  margin: auto  ;
  max-width: 90vw;
  top: 10rem;
  left: 1rem;
  @include respond-to(medium){
    width: 50rem;
    top: 3rem;
    left: 4rem;
    max-width: 40rem;
  }
}
.back-coach{
  width: 7rem;
  max-width: 90%;
  z-index: 1000;
  @include respond-to(medium){
    position: fixed;
    top: 6rem;
    left: 5rem;
  }
}
@media screen and (orientation: landscape) and (max-width: 800px) {
  .How-title {
    display: none;
  }
}
@media   (min-width: 800px) and  (min-width: 400px){
  .How-title {
    display: none;
  }
}
.Error{
  position: fixed;
  bottom: 0 ;
}
