canvas {
  image-rendering: optimizeSpeed;
  -webkit-interpolation-mode: nearest-neighbor;
  -ms-touch-action: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

:-webkit-full-screen #canvas {
  width: 100%;
  height: 100%;
}

div.gm4html5_div_class {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

/* START - Login Dialog Box */
div.gm4html5_login {
  padding: 20px;
  position: absolute;
  //border: solid 2px #000000;
  background-color: #404040;
  color: #00ff00;
  border-radius: 15px;
  box-shadow: #101010 20px 20px 40px;
}

div.gm4html5_cancel_button {
  float: right;
}

div.gm4html5_login_button {
  float: left;
}

div.gm4html5_login_header {
  text-align: center;
}

/* END - Login Dialog Box */
:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.playing {
  background: url("../../images/back_playing.jpg") center;
  background-size: cover;
  canvas {
    //border: 4px solid white;
    z-index: 2;
  }

}

.complete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  figure{
    max-width: 80rem;
    position: relative;
  }
}
#loader.hide{
  display: none;
}
.loader-bar{
  width: 250px;
  position:absolute;
  height: 15px;
  border-radius: 10px;
  margin: 20px;
  background: linear-gradient(to bottom, #ff653c 50%,#ff0d01 50%);
  bottom: 0;
  left: calc(50% - 125px);
  &:after{
    width: 0;
    content: '';
    position:absolute;
    height: 100%;
    border-radius: 1rem;
    background: linear-gradient(to bottom, #f2d902 50%,#ac9604 50%);
    animation-name: load;
    animation-duration: 10s;
  }

}
@keyframes load {
  0%   {width: 0;}
  25%  {width: 25% ;}
  50%  {width: 50% ;}
  100% {width: 100% ;}
}