
@import "~inuit-css";
@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (min-width: 36rem) {
      @content
    }
  } @else if $breakpoint == "medium" {
    @media (min-width: 45rem) {
      @content
    }
  } @else if $breakpoint == "large" {
    @media (min-width: 1048px) {
      @content
    }
  }
}
body{
  min-height: 100vh;
  min-width: 100vw;

}
@font-face {
  font-family: 'Varsity';
  src: url('fonts/VarsityRegular.woff2') format('woff2'),
  url('fonts/VarsityRegular.woff') format('woff'),
  url('fonts/VarsityRegular.svg#VarsityRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "template/home";
@import "template/play";
@import "template/how";
@import "template/playing";
@import "template/table";
